@*@model WorldDomination.Models.LoginModel

@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="login">
            <div class="exeption-textarea"></div>
            <textarea id="input1" class="input" name="login" placeholder="Введите логин" style="resize: none;"></textarea>
            <textarea id="input2" class="input" name="password" placeholder="Введите пароль" style="resize: none;"></textarea>
            <button class="submit">Отправить</button>
        </div>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/Login.js"></script>
    </div>
</body>
</html>
