
body {
    margin: 2% 5% 2% 5% !important;
}

.header, .body {
    margin: 1% !important;
}

.cities, .body__container{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header, .countryStatistic, .cities, .sanctions .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countryStatistics > *, .countryStatistic > * {
    float: right;
}

.countryStatistics, .countryStatistic {
    margin-left: 1%;
    margin-right: 1%;
}

.city-statistic {
    display: flex;
    flex-direction: column;
}

.other-country-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*.card-bg-blue {
    background-color: rgba(0, 0, 255, 0.952);
}*/
